*{
    margin:0;
}
.outCont{
    display: flex;
    width: 100%;
    

}

.inpCont{
    width: 80%;
   
    margin-right:4px;

}

.inpCont input{
    width: 100%;
    padding:5%;
    height: 100% !important;
}
.btnCont{
  width:20%;
  

}

.btnCont button{ 
    width:100%;
    margin:0;
    height:100% !important;
   
}